CustomVision/logicApp/logic-app-code.json
{
  "$connections": {
      "value": {
          "azureblob": {
              "connectionId": "/subscriptions/e910c218-9c40-4f3a-8fec-f71d21c35ebb/resourceGroups/AINights/providers/Microsoft.Web/connections/azureblob",
              "connectionName": "azureblob",
              "id": "/subscriptions/e910c218-9c40-4f3a-8fec-f71d21c35ebb/providers/Microsoft.Web/locations/northeurope/managedApis/azureblob"
          },
          "azureeventgrid_1": {
              "connectionId": "/subscriptions/e910c218-9c40-4f3a-8fec-f71d21c35ebb/resourceGroups/AINights/providers/Microsoft.Web/connections/azureeventgrid-1",
              "connectionName": "azureeventgrid-1",
              "id": "/subscriptions/e910c218-9c40-4f3a-8fec-f71d21c35ebb/providers/Microsoft.Web/locations/northeurope/managedApis/azureeventgrid"
          },
          "cognitiveservicescustomvision_1": {
              "connectionId": "/subscriptions/e910c218-9c40-4f3a-8fec-f71d21c35ebb/resourceGroups/AINights/providers/Microsoft.Web/connections/cognitiveservicescustomvision-1",
              "connectionName": "cognitiveservicescustomvision-1",
              "id": "/subscriptions/e910c218-9c40-4f3a-8fec-f71d21c35ebb/providers/Microsoft.Web/locations/northeurope/managedApis/cognitiveservicescustomvision"
          }
      }
  },
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "Classify_an_image_url": {
              "inputs": {
                  "body": {
                      "Url": "@body('Parse_JSON')?['data']?['url']"
                  },
                  "headers": {
                      "Content-Type": " application/json"
                  },
                  "host": {
                      "connection": {
                          "name": "@parameters('$connections')['cognitiveservicescustomvision_1']['connectionId']"
                      }
                  },
                  "method": "post",
                  "path": "/customvision/v3.0/Prediction/@{encodeURIComponent('a11574a8-2a25-4943-bcd8-6ee4079a49cf')}/classify/iterations/@{encodeURIComponent('Iteration2')}/url"
              },
              "runAfter": {
                  "Parse_JSON": [
                      "Succeeded"
                  ]
              },
              "type": "ApiConnection"
          },
          "For_each": {
              "actions": {
                  "Condition": {
                      "actions": {
                          "Create_blob": {
                              "inputs": {
                                  "body": "@{items('For_each')?['tagName']}: @{items('For_each')?['probability']}",
                                  "host": {
                                      "connection": {
                                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                                      }
                                  },
                                  "method": "post",
                                  "path": "/datasets/default/files",
                                  "queries": {
                                      "folderPath": "/image",
                                      "name": "result-@{body('Classify_an_image_url')?['id']}",
                                      "queryParametersSingleEncoded": true
                                  }
                              },
                              "runAfter": {},
                              "runtimeConfiguration": {
                                  "contentTransfer": {
                                      "transferMode": "Chunked"
                                  }
                              },
                              "type": "ApiConnection"
                          }
                      },
                      "expression": {
                          "and": [
                              {
                                  "greater": [
                                      "@items('For_each')?['probability']",
                                      0.7
                                  ]
                              }
                          ]
                      },
                      "runAfter": {},
                      "type": "If"
                  }
              },
              "foreach": "@body('Classify_an_image_url')?['Predictions']",
              "runAfter": {
                  "Classify_an_image_url": [
                      "Succeeded"
                  ]
              },
              "type": "Foreach"
          },
          "Parse_JSON": {
              "inputs": {
                  "content": "@triggerBody()",
                  "schema": {
                      "properties": {
                          "data": {
                              "properties": {
                                  "api": {
                                      "type": "string"
                                  },
                                  "blobType": {
                                      "type": "string"
                                  },
                                  "clientRequestId": {
                                      "type": "string"
                                  },
                                  "contentLength": {
                                      "type": "integer"
                                  },
                                  "contentType": {
                                      "type": "string"
                                  },
                                  "eTag": {
                                      "type": "string"
                                  },
                                  "requestId": {
                                      "type": "string"
                                  },
                                  "sequencer": {
                                      "type": "string"
                                  },
                                  "storageDiagnostics": {
                                      "properties": {
                                          "batchId": {
                                              "type": "string"
                                          }
                                      },
                                      "type": "object"
                                  },
                                  "url": {
                                      "type": "string"
                                  }
                              },
                              "type": "object"
                          },
                          "dataVersion": {
                              "type": "string"
                          },
                          "eventTime": {
                              "type": "string"
                          },
                          "eventType": {
                              "type": "string"
                          },
                          "id": {
                              "type": "string"
                          },
                          "metadataVersion": {
                              "type": "string"
                          },
                          "subject": {
                              "type": "string"
                          },
                          "topic": {
                              "type": "string"
                          }
                      },
                      "type": "object"
                  }
              },
              "runAfter": {},
              "type": "ParseJson"
          }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "parameters": {
          "$connections": {
              "defaultValue": {},
              "type": "Object"
          }
      },
      "triggers": {
          "When_a_resource_event_occurs": {
              "inputs": {
                  "body": {
                      "properties": {
                          "destination": {
                              "endpointType": "webhook",
                              "properties": {
                                  "endpointUrl": "@{listCallbackUrl()}"
                              }
                          },
                          "filter": {
                              "includedEventTypes": [
                                  "Microsoft.Storage.BlobCreated"
                              ]
                          },
                          "topic": "/subscriptions/e910c218-9c40-4f3a-8fec-f71d21c35ebb/resourceGroups/AINights/providers/Microsoft.Storage/storageAccounts/resultsnights"
                      }
                  },
                  "host": {
                      "connection": {
                          "name": "@parameters('$connections')['azureeventgrid_1']['connectionId']"
                      }
                  },
                  "path": "/subscriptions/@{encodeURIComponent('e910c218-9c40-4f3a-8fec-f71d21c35ebb')}/providers/@{encodeURIComponent('Microsoft.Storage.StorageAccounts')}/resource/eventSubscriptions",
                  "queries": {
                      "x-ms-api-version": "2017-06-15-preview"
                  }
              },
              "splitOn": "@triggerBody()",
              "type": "ApiConnectionWebhook"
          }
      }
  }
}